<h2 mat-dialog-title>Nova Unidade de Saúde</h2>
<div mat-dialog-content>
  <form [formGroup]="healthUnitForm">
    <mat-form-field class="input">
      <mat-label>Nome </mat-label>
      <input matInput formControlName="name" name="name">
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Localização </mat-label>
      <input matInput formControlName="local">
    </mat-form-field>

    <div fxLayout="now wrap">
      <div fxFlex="40" fxFill fxLayoutAlign="start center">
        <mat-form-field class="input">
          <mat-label>Horário de Abertura </mat-label>
          <input matInput type="time" #time formControlName="openingTime" name="openingTime">
        </mat-form-field>
      </div>
      <div fxFlex></div>
      <div fxFlex="40" fxFill fxLayoutAlign="start center">
        <mat-form-field class="input">
          <mat-label>Horário de Fechamento </mat-label>
          <input matInput type="time" #time formControlName="closingTime" name="closingTime">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="create()">Concluir</button>
      <button mat-button mat-dialog-close (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>
